<a href="/todos/new" class="btn btn-primary mb-3">Create</a>
<ul class="list-group">
  {{#each todos}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
              <input style="vertical-align:middle;" type='checkbox' name='isDone' {{#if this.isDone}}checked{{/if }} disabled />
             </div>
            </div>
          <h4 style="display: inline; vertical-align: middle;">
            {{this.name}}
          </h4>
        </div>
      </div>
    <div class="col-auto">
      <a class="btn btn-secondary" href='./todos/{{this._id}}'>detail</a>
      <a class="btn btn-success" href='./todos/{{this._id}}/edit'>edit</a>
      <!-- delete button -->
      <form
        action='./todos/{{this._id}}?_method=delete'
        method='POST'
        style='display: inline;'
      >
        <button class="btn btn-danger" type='submit'>delete</button>
      </form>
    </div>
      </div>
    </li>
  {{/each}}
</ul>